body {

    padding: 0;
    background-color: #D9D9D9;

}

.card {
    margin: 3rem 2rem 3rem 2rem;
    background-color: #D9D9D9;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 60%;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #fff;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #f4d96c;
}

.account {
    background-color: #ffff;
}

.nav {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #B5B5B5;
    display: flex;
    /* gap: 13rem; */
}

h1 {
    display: flex;
    text-align: center;
    margin-top: 0;
    font-size: larger;
}

.see-post {
    border: 1px solid black;
    max-width: fit-content;
    margin-left: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    color: #ffff;
    background-color: #6AD759;
    justify-content: center;
    align-items: center;

}

.context-box {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #fff;
}

.upper-context-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: fit-content;
    min-width: fit-content;
}

input[type="text"],
select,
input[type="date"],
input[type="time"] {
    font-size: 10px;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-right: 10px;
}

/* table {
    list-style-type: none;
    padding: 0;
    margin: 0;
} */

/* tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
} */

.completed {
    text-decoration: line-through;
    color: #AAA;
}

.delete {
    background-color: #FF4136;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

button:hover {
    opacity: .7;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

#brand {
    text-align: center;
    color: #444;
}

h1 {
    text-align: center;
    color: #fff;
}

.ca {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #444;
}

.ca:hover {
    text-decoration: underline;
}

table {
    gap: 1rem;
}

