body {

    padding: 0;
    background-color: #D9D9D9;

}

.card {
    margin: 3rem 2rem 3rem 2rem;
    background-color: #D9D9D9;
}
.about{
    margin: 1rem 0.6rem 0.3rem 0.6rem;
    color: #fff;
    background-color: #444;
    padding: 1rem 2rem 1rem 2rem;
}
/* .bigger-box{
    
} */
h3{
    font-size: x-large;
    color: #FF4136;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 60%;
}
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #fff;
}
.status{
    /* min-width: rem;
    max-width: 0rem; */
    padding: 0 6rem 0 6rem;
}
.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #fff;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #f4d96c;
}
.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #91e746;
}
.progress ,.Fixed{
    padding: 0.2rem 0.3rem;
    text-decoration: none;
    background-color: #e6af68;
    border-radius: 5px;
    border: 0.1px  black;
}
.Fixed{
    background-color: #9ade6d;
}

form{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 4rem;
}

.account {
    background-color: #ffff;
}
.sort-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}

.right-acc{
    display: flex;
    justify-content: space-around;
    gap:1rem;
    align-items: center;
}
.log-out{
    border: 1px solid red;
    border-radius: 5px;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    background-color: #f70e0a64;
    color: #fff;
    text-decoration: none;
    
}
.nav {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #B5B5B5;
    display: flex;
    justify-content: space-between;
    /* gap: 13rem; */
}
#submit{
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
}
h1 {
    display: flex;
    text-align: center;
    margin-top: 0;
    font-size: larger;
}
.see-post {
    border: 1px solid black;
    max-width: fit-content;
    margin-left: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    color: #ffff;
    background-color: #6AD759;
    justify-content: center;
    align-items: center;

}

.bigger-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #fff;
}
.context-box{
    display: flex;
    flex-direction: column;
}
.upper-context-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: fit-content;
    min-width: fit-content;
}

input[type="text"],
select,
input[type="date"],
input[type="time"] {
    font-size: 10px;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-right: 10px;
}
.box1{
    display: flex;
    flex-direction: column;
}
.addedby{
    color: rgb(181, 5, 245);
}

.completed {
    text-decoration: line-through;
    color: #AAA;
}

.delete {
    background-color: #FF4136;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

button:hover {
    opacity: .7;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

#brand {
    text-align: center;
    color: #444;
}

h1 {
    text-align: center;
    color: #fff;
}

.ca {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #444;
}

.ca:hover {
    text-decoration: underline;
}

.child-container{
    max-width:5rem;
    min-width:5rem;
}
.box2{
    display: flex;
    flex-direction: column;
}
.box2one{
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    gap: 4rem;
    
}

@media only screen and (max-width:700px){
    #submit{
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
    }

    .right-acc{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap:0.2rem;
        align-items: center;
    }
    .sort-menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .container1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        margin: 0.5rem;
        gap: 1rem;
        align-items: center;
        background-color: #fff;
    }
    .container2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        margin: 0.5rem;
        gap: 1rem;
        align-items: center;
        background-color: #f4d96c;
    }
    .container3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        margin: 0.5rem;
        gap: 1rem;
        align-items: center;
        background-color: #91e746;
    }
    .child-container{
        max-width:10rem;
        display: flex;
        justify-content: center;
    }
    .top-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin: 0.5rem;
        background-color: #fff;
    }
    form{
        display: flex;
        margin-left: 3rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
}
